<div class="fixed bottom-0 left-0 w-full h-full">
    <img src="images/login-bg.jpg" alt="Logo" class="w-full h-full object-cover">

</div>
<div class=" backdrop backdrop-up">
</div>
<div class="backdrop backdrop-down">
</div>

<div class="min-h-screen  flex items-center justify-center">
    <div class="blurry-container flex flex-col items-center justify-center">
        <div class="text-center flex flex-col items-center justify-center">
            <img src="svg/logo.svg" alt="Logo">
            <h4>Sign in with email</h4>
            <p class="underheader">Track your travel expenses effortlessly and manage your budget with ease</p>
        </div>

        <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="mt-8">

            <div class="flex flex-col gap-3">

                <div class="relative">
                    <div class="icon-container">
                        <img src="icons/mail-filled.svg" alt="Email">
                    </div>
                    <input id="email" name="email" type="email" [(ngModel)]="email" required
                        placeholder="Email Address">
                </div>


                <div class="mt-1 relative">
                    <div class="icon-container">
                        <img src="icons/lock.svg" alt="Email">
                    </div>
                    <input id="password" name="password" type="password" [(ngModel)]="password" required
                        placeholder="Password">
                </div>

            </div>

            <p class="forgot-password">Forgot Password?</p>

            @if (authService.errorMessage()) {
            <div class="error-container">
                <div class="flex text-red-600 error-message">
                    <mat-icon class="!w-6 !h-6">error_outline</mat-icon>
                    <p class="text-sm">{{ authService.errorMessage() }}</p>
                </div>
            </div>
            }

            <div>
                <button type="submit" [disabled]="!loginForm.form.valid || authService.loading()"
                    class="button-primary w-full">
                    @if (authService.loading()) {
                    <mat-spinner diameter="20" class="!text-white"></mat-spinner>
                    <span>Signing in...</span>
                    } @else {
                    <span>Get Started</span>
                    }
                </button>
            </div>
        </form>
        <div class="circle-container flex items-center w-full">
            <div class="flex items-center">
                <div class="circle" *ngFor="let i of [].constructor(10)"></div>
            </div>
            <span>Or continue directly</span>
            <div class="flex items-center">
                <div class="circle" *ngFor="let i of [].constructor(10)"></div>
            </div>
        </div>
        <div class="quick">
            <button (click)="login('user@example.com', '123')" class="container">
                <img src="icons/guest.svg" alt="">
            </button>
            <button (click)="login('approver@example.com', '123')" class="container">
                <img src="icons/approver.svg" alt="">
            </button>
            <button (click)="login('finance@example.com', '123')" class="container">
                <img src="icons/bank.svg" alt="">
            </button>
        </div>
    </div>
</div>