<div class="top-details">
    <div class="container fade-in">
        <div class="header">
            <div class="return-button icon-holder cursor-pointer" routerLink="/trips">
                <img src="icons/arrow.svg" alt="return">
            </div>
            <h1>{{ trip?.name }}</h1>

            <div [class]="'status colored-status ' + getStatusClass(trip?.status || '')">{{ trip?.status }}</div>
            @if (trip?.status === 'DRAFT') {
            <button class="white-style" (click)="updateTripStatus()">
                <img src="icons/send-b.svg" alt="send">
                Send for Approval
            </button>
            }
        </div>

        <div class="trip-info">
            <div class="info">
                <div class="icon icon-holder-easy">
                    <img src="icons/clock.svg" alt="calendar">
                </div>
                <div class="right">
                    <div class="label">Duration</div>
                    <div class="value">{{ getTripDuration(trip?.startDate,
                        trip?.endDate) }} Days</div>
                </div>
            </div>
            <div class="info">
                <div class="icon icon-holder-easy">
                    <img src="icons/calendar-dots.svg" alt="calendar">
                </div>
                <div class="right">
                    <div class="label">Date Range</div>
                    <div class="value">{{ trip?.startDate | date:'shortDate' }}
                        - {{ trip?.endDate | date:'shortDate' }}</div>
                </div>
            </div>
            <div class="info">
                <div class="icon icon-holder-easy">
                    <img src="icons/rows-duotone.svg" alt="calendar">
                </div>
                <div class="right">
                    <div class="label">Expense Count</div>
                    <div class="value">{{ expenses.length }} Items</div>
                </div>
            </div>
            <div class="info">
                <div class="icon icon-holder-easy">
                    <img src="icons/currency.svg" alt="calendar">
                </div>
                <div class="right">
                    <div class="label">Total Cost</div>
                    <div class="value">{{ getTotalCost() | currency }}</div>
                </div>
            </div>
        </div>

        @if (trip?.approverNote) {
        <div class="note-container box-style">
            <div class="top">
                <div class="icon icon-holder">
                    <img src="icons/flight.svg" alt="flight">
                </div>
                <div class="label">
                    Approver Note
                </div>
            </div>
            <div class="divider"></div>
            <div class="bottom">
                <div class="note">
                    Sir, you have to be careful with the expenses.
                </div>
            </div>
        </div>
        }

        <div class="add-categories">
            <button [disabled]="!selectedExpenseType || trip?.status !== 'DRAFT'" (click)="addNewExpense('FLIGHT')"
                class="add-expense white-style">
                <img src="icons/plus.svg" alt="add">
                Flight
            </button>
            <button [disabled]="!selectedExpenseType || trip?.status !== 'DRAFT'" (click)="addNewExpense('HOTEL')"
                class="add-expense white-style">
                <img src="icons/plus.svg" alt="add">
                Hotel
            </button>
            <button [disabled]="!selectedExpenseType || trip?.status !== 'DRAFT'" (click)="addNewExpense('CAR_RENTAL')"
                class="add-expense white-style">
                <img src="icons/plus.svg" alt="add">
                Car Rental
            </button>
            <button [disabled]="!selectedExpenseType || trip?.status !== 'DRAFT'" (click)="addNewExpense('TAXI')"
                class="add-expense white-style">
                <img src="icons/plus.svg" alt="add">
                Taxi
            </button>
        </div>

        <div class="expenses">
            @for (expense of expenses; track expense.id) {
            <div class="expense box-style">
                <div class="top">
                    <div class="left">
                        <div class="icon icon-holder">
                            <img [src]="'icons/' + (
                            expense.type === 'FLIGHT' ? 'flight' :
                            expense.type === 'HOTEL' ? 'hotel' :
                            expense.type === 'CAR_RENTAL' ? 'car' :
                            'taxi') + '.svg'" alt="flight">
                        </div>
                        <div class="label">{{ expense.type }}</div>
                        <div class="value">{{ expense.totalPrice | currency }}</div>
                    </div>
                    <button class="white-style" [disabled]="trip?.status !== 'DRAFT'" (click)="editExpense(expense)">
                        <img src=" icons/edit.svg" alt="edit">
                        Edit
                    </button>
                </div>
                <div class="divider"></div>
                <div class="bottom">
                    @if (expense.type === 'FLIGHT') {
                    <div class="group">
                        <div class="label">Airline</div>
                        <div class="value">{{ expense.airline }}</div>
                    </div>
                    <div class="group">
                        <div class="label">Route</div>
                        <div class="value">{{ expense.from }} → {{ expense.to }}</div>
                    </div>
                    <div class="group">
                        <div class="label">Departure</div>
                        <div class="value">{{ expense.departureDateTime | date:'medium' }}</div>
                    </div>
                    <div class="group">
                        <div class="label">Arrival</div>
                        <div class="value">{{ expense.arrivalDateTime | date:'medium' }}</div>
                    </div>
                    }
                    @if (expense.type === 'HOTEL') {
                    <div class="group">
                        <div class="label">Hotel</div>
                        <div class="value">{{ expense.hotelName }}</div>
                    </div>
                    <div class="group">
                        <div class="label">Route</div>
                        <div class="value">{{ expense.location }}</div>
                    </div>
                    <div class="group">
                        <div class="label">Check-in</div>
                        <div class="value">{{ expense.checkInDate | date }}</div>
                    </div>
                    <div class="group">
                        <div class="label">Arrival</div>
                        <div class="value">{{ expense.checkOutDate | date }}</div>
                    </div>
                    }
                    @if (expense.type === 'TAXI') {
                    <div class="group">
                        <div class="label">From</div>
                        <div class="value">{{ expense.from }}</div>
                    </div>
                    <div class="group">
                        <div class="label">To</div>
                        <div class="value">{{ expense.to }}</div>
                    </div>
                    <div class="group">
                        <div class="label">Date & Time</div>
                        <div class="value">{{expense.dateTime | date:'medium'}}</div>
                    </div>
                    }
                    @if (expense.type === 'CAR_RENTAL') {
                    <div class="group">
                        <div class="label">Vehicle</div>
                        <div class="value">{{ expense.carName }}</div>
                    </div>
                    <div class="group">
                        <div class="label">Pickup Location</div>
                        <div class="value">{{ expense.pickupLocation }}</div>
                    </div>
                    <div class="group">
                        <div class="label">Pickup Time</div>
                        <div class="value">{{ expense.pickupDateTime | date:'medium' }}</div>
                    </div>
                    <div class="group">
                        <div class="label">Dropoff Location</div>
                        <div class="value">{{ expense.dropoffLocation }}</div>
                    </div>
                    <div class="group">
                        <div class="label">Dropoff Time</div>
                        <div class="value">{{ expense.dropoffDateTime | date:'medium' }}</div>
                    </div>
                    }
                </div>
            </div>
            }
        </div>
    </div>
</div>